<ion-header>
  <ion-toolbar>
    <ion-title>Şifre Sıfırlama</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #form="ngForm" (ngSubmit)="resetPassword(form)">
    <div>
      <ion-item>
        <ion-input name="email" type="email" placeholder="Your@email.com" ngModel required>

        </ion-input>
      </ion-item>

    </div>
    <div style="text-align: center;margin: auto;">
      <ion-button type="submit" [disabled]="form.invalid">Sıfırla</ion-button>
    </div>
  </form>

</ion-content>
